 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.nav-container{
    width: 1920px;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-container{
    display: flex;
}
.logo-container img{
    object-fit: cover;
}
.gamer-para {
    
    font-size: 45px;
    font-weight: 700;
}